.panel-body
  = simple_form_for @procedure_type do |f|
    .form-inputs
      .col-md-6
        = f.input :name, label: I18n.t('procedure_type.name')
      - if current_user.is_role? "Doctor"
        = f.input :doctor_id, as: :hidden, input_html: { value: current_user.id }
      - else
        .col-md-6
          = f.input :doctor_id, as: :select, collection: User.doctors, label_method: :full_name, label: I18n.t('procedure_type.doctor')

    .col-md-12
      .form-actions
        - if @procedure_type.new_record?
          = f.button :submit, I18n.t('actions.create_procedure_type'), :class => "btn btn-primary"
          = link_to 'Cancel', procedure_types_path(active_tab: TAB_NAMES[:system_settings]), :class => "btn btn-default"
        - else
          = f.button :submit, I18n.t('actions.update_procedure_type'), :class => "btn btn-primary"
          = link_to 'Cancel', procedure_type_path(@procedure_type, active_tab: TAB_NAMES[:system_settings]), :class => "btn btn-default"