.row
  .col-md-12
    .page-header
      %h1 
        Procedure Type
        %small List
        = link_to new_procedure_type_path(active_tab: TAB_NAMES[:system_settings]), class: "btn btn-primary" do
          %span.fa.fa-plus
          New Procedure Type
.row
  .col-md-12
    %table.table.dataTable.table-bordered.table-hover.table-striped.index-table
      %thead
        %tr
          %th= I18n.t("procedure_type.name")
          - unless current_user.is_role? "Doctor"
            %th= I18n.t("procedure_type.doctor")
          %th Actions
      %tbody
        - @procedure_types.each do |procedure_type|
          %tr
            %td= procedure_type.name
            - unless current_user.is_role? "Doctor"
              %td= procedure_type.doctor.full_name.titleize rescue nil
            %td
              = link_to "Edit", edit_procedure_type_path(procedure_type), class: "btn btn-primary btn-outline btn-sm"

= will_paginate @procedure_types
