%h1.page-header
  = I18n.t('procedure_type.procedure_type')
  %small= I18n.t('details')
.panel.panel-primary
  .panel-body
    %table.table.table-striped.table-bordered.table-hover
      %tbody
        %tr
          %th
            = I18n.t('procedure_type.name')
          %td
            = @procedure_type.name


- if can? :edit, @procedure_type
  = link_to edit_procedure_type_path(@procedure_type, active_tab: TAB_NAMES[:system_settings]), :class => "btn btn-primary" do
    %span.fa.fa-pencil
    = I18n.t('edit')
= link_to procedure_types_path(active_tab: TAB_NAMES[:system_settings]), :class => "btn btn-default" do
  %span.fa.fa-list
  = I18n.t('back')

