.panel-body
  = simple_form_for @user, controller: "users", method: :post do |f|
    .form-inputs
      .col-md-6
        = f.input :full_name, label: I18n.t('user.full_name'), autocomplete: "on" 
        = f.input :email, label: I18n.t('user.email')

      .col-md-6
        - if current_user.is_role? "Administrator"
          = f.input :user_role, label: I18n.t('user.role'), :collection => User::ROLES, :include_blank => false
        - else
          = f.input :user_role, label: I18n.t('user.role'), :collection => User::ROLES, :include_blank => false, disabled: true
          = f.hidden_field :user_role

    .col-md-12
      .form-actions
        - if @user.new_record?
          = f.button :submit, I18n.t('user.create_user'), :class => "btn btn-primary"
          = link_to 'Cancel', users_path, :class => "btn btn-default"
        - else
          = f.button :submit, I18n.t('user.update_user'), :class => "btn btn-primary"
          = link_to 'Cancel', user_path(@user), :class => "btn btn-default"