%h1.page-header Edit User Password
.panel.panel-default
  .panel-heading User Password
  .panel-body
    = simple_form_for @user, url: {controller: 'users', action: 'update_password'} do |f|
      .field
        = f.input :current_password, :autocomplete => "off", hint: '(we need your current password to confirm your changes)'
      .field
        = f.input :password, :autocomplete => "off"
      .field
        = f.input :password_confirmation
      .action_container
        = f.button :submit, "Change my password", :class => "btn btn-primary"