%h1.page-header
  = I18n.t('user.user')
  %small= I18n.t('details')
.panel.panel-primary
  .panel-heading
    = @user.full_name

  .panel-body
    %table.table.table-striped.table-bordered.table-hover
      %tbody
        %tr
          %th
            = I18n.t('user.full_name')
          %td
            = @user.full_name
        %tr
          %th
            = I18n.t('user.email')
          %td
            = @user.email
        %tr
          %th
            = I18n.t('user.role')
          %td
            = @user.user_role
        %tr
          %th
            = I18n.t('user.system_generated_password')
          %td
            = @user.system_generated_password


- if can? :edit, @user
  = link_to edit_user_path(@user), :class => "btn btn-primary" do
    %span.fa.fa-pencil
    = I18n.t('edit')
- if ((URI(request.referer).path.split('/').last == 'new') || (URI(request.referer).path.split('/').last == 'edit'))
  = link_to users_path, :class => "btn btn-default" do
    %span.fa.fa-list
    = I18n.t('back')
- else
  = link_to :back, :class => "btn btn-default" do
    %span.fa.fa-list
    = I18n.t('back')

