%h1.page-header
  = I18n.t('user.user')
  %small= I18n.t('details')
.panel.panel-primary
  .panel-heading
    = @user.full_name

  .panel-body
    %table.table.table-striped.table-bordered.table-hover
      %tbody
        %tr
          %th
            = I18n.t('user.username')
          %td
            = @user.username
        %tr
          %th
            = I18n.t('user.full_name')
          %td
            = @user.full_name
        %tr
          %th
            = I18n.t('user.email')
          %td
            = @user.email
        %tr
          %th
            = I18n.t('user.role')
          %td
            = @user.user_role
        %tr
          %th
            = I18n.t('user.system_generated_password')
          %td
            = @user.system_generated_password


- if can? :edit, @user
  = link_to edit_user_path(@user), :class => "btn btn-primary" do
    %span.fa.fa-pencil
    = I18n.t('edit')
- if can? :reset_password, @user
  = link_to url_for(:controller => 'users', :action => 'reset_password', :id => @user.id), :method => :put, :data => { :confirm => "#{I18n.t(:'alert.reset_password', :object_name => @user.full_name)}", :note => "#{I18n.t(:'alert.reset_password_user_note')}", :action => I18n.t('reset_password'), :"action-type" => I18n.t('confirm_reset_password'), :dismiss => I18n.t('cancel') }, :class => "btn btn-primary"  do
    = I18n.t('reset_password')
- if ((URI(request.referer).path.split('/').last == 'new') || (URI(request.referer).path.split('/').last == 'edit'))
  = link_to users_path, :class => "btn btn-default" do
    %span.fa.fa-list
    = I18n.t('back')
- else
  = link_to :back, :class => "btn btn-default" do
    %span.fa.fa-list
    = I18n.t('back')

