.panel-body
  = simple_form_for @patient do |f|
    = f.input :state, as: :hidden
    - if f.object.state == "picture_uploaded"
      .form-inputs
        .col-md-12
          = f.input :patient_picture, label: I18n.t('patient.upload_photo'), as: :file, input_html: {accept: "image/*", capture: "camera"}
        .col-md-12
          %img{id:"img_prev", src:"#", alt:"Patient Record"}
      .form-iputs
        .col-md-12
          - if current_user.is_role? "Doctor"
            = f.input :procedure_type_id, collection: ProcedureType.where(doctor_id: current_user.id).order(:name), label: I18n.t('patient.procedure')
          - else
            = f.input :procedure_type_id, collection: ProcedureType.order(:name), label: I18n.t('patient.procedure')
      .form-iputs
        .col-md-12
          - if current_user.is_role? "Doctor"
            = f.input :surgeon_id, collection: Surgeon.where(doctor_id: current_user.id).order(:full_name), label: I18n.t('patient.surgeon'), label_method: :full_name
          - else
            = f.input :surgeon_id, collection: Surgeon.order(:full_name), label: I18n.t('patient.surgeon'), label_method: :full_name
      .form-inputs
        .col-md-12
          = f.input :remarks, label: I18n.t('patient.remarks')
      = f.input :state, as: :hidden
      = f.input :doctor_id, as: :hidden

    - else
      - if @patient.patient_picture.present?
        = render partial: 'edit_patient_form', locals: {f: f}

      .col-md-12
        = render partial: "activity_logs/show", locals: {activity_logs: @activity_logs}

    .col-md-12
      .form-actions
        - if @patient.new_record?
          = f.button :submit, I18n.t('actions.create_patient'), :class => "btn btn-primary"
          = link_to 'Cancel', patients_path, :class => "btn btn-default"
        - else
          = f.button :submit, I18n.t('actions.update_patient'), :class => "btn btn-primary"
          = link_to 'Cancel', patient_path(@patient), :class => "btn btn-default"

%script{"type" => "text/javascript"}
  :plain
    $("#patient_patient_picture").change(function() {
      input = $(this);
      if (input.prop('files') && input.prop('files')[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#img_prev')
            .attr('src', e.target.result)
            .width(300)
            .height(400);
        };

        reader.readAsDataURL(input.prop('files')[0]);
      }
    }).change();

    $("#patient_payment_method").change(function() {
      if($(this).val() == "HMO"){
        $(".patient_hmo_id").show();
      }
      else{
        $(".patient_hmo_id").hide();
        $("#patient_hmo_id").val("");
      }
    }).change();

    