.modal.fade{id: "new_procedure_type_modal", class: "patient-show-modal", tabindex: "-1", role: "dialog", "aria-labelledby":"#new_procedure_type_modal_label", "aria-hidden": true}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type:"button", class:"close", "data-dismiss": "modal", "aria-label": "Close"}
          %span{"aria-hidden": "true"}
            &times
        %h4{class: "modal-title", id: "myModalLabel"}
          New Procedure Type

      = simple_form_for ProcedureType.new do |f|
        .modal-body
          .panel-body
            .form-inputs
              .col-md-12#error-messages.alert.alert-danger.hide
              .col-md-12
                = f.input :name, label: I18n.t('procedure_type.name')
              - if current_user.is_role? "Doctor"
                = f.input :doctor_id, as: :hidden, input_html: { value: current_user.id }
              - else
                .col-md-12
                  = f.input :doctor_id, as: :select, collection: User.doctors, label_method: :full_name, label: I18n.t('procedure_type.doctor')
        .modal-footer
          %button{type:"button", class:"btn btn-default", "data-dismiss": "modal", "aria-label": "Close"}
            %span{"aria-hidden": "true"}
              Cancel
          = f.button :submit, I18n.t('actions.create_procedure_type'), :class => "btn btn-primary", id: "submit-procedure-type-button"
          

%script{"type" => "text/javascript"}
  :plain
    $( document ).ready(function() {
      $("#new_procedure_type").submit( function(e) {
        e.preventDefault();
        
        $.ajax({
          type: "POST",
          url: this.action,
          data: $(this).serialize(),
          success: function(data){
            options = $("#patient_procedure_type_id").html();
            options += "<option value='" + data['id'] + "' selected='true'>" + data['name'] + "</option>";

            $("#patient_procedure_type_id").html(options);
            $('#new_procedure_type_modal').modal('hide');
          },
          error: function(data){
            errors = data.responseJSON;
            error_messages = "<div> Please review the following errors: </div>";
            for (x in errors) {
              error_messages += "<div><li>" + x + " : " + errors[x] + "</li></div>";
            }
            $("#error-messages").html(error_messages).removeClass('hide');
          },
          dataType: "json"
        });

        return false;
      });      
    });
