.modal.fade{id: "patient_show_modal_#{patient.id}", class: "patient-show-modal", tabindex: "-1", role: "dialog", "aria-labelledby":"#{patient.id}_label", "aria-hidden": true}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type:"button", class:"close", "data-dismiss": "modal", "aria-label": "Close"}
          %span{"aria-hidden": "true"}
            &times
        %h4{class: "modal-title", id: "myModalLabel"}
          = "Patient Record: #{patient.full_name.upcase}"
      .modal-body
        %table.table.table-striped.table-bordered.table-hover
          %tbody
            %tr
              %th
                = I18n.t('patient.doctor')
              %td
                = patient.doctor.full_name rescue nil
            %tr
              %th
                = I18n.t('patient.hospital')
              %td
                = patient.hospital.name rescue nil
            %tr
              %th
                = I18n.t('patient.billing_amount')
              %td
                = patient.billing_amount
            %tr
              %th
                = I18n.t('patient.balance')
              %td
                = patient.balance
            %tr
              %th
                = I18n.t('patient.payment_status')
              %td
                = payment_status_viewer(patient.payment_status)
            %tr
              %th
                = I18n.t('patient.patient_num')
              %td
                = patient.patient_num
            %tr
              %th
                = I18n.t('patient.date_admitted')
              %td
                = patient.date_admitted
            %tr
              %th
                = I18n.t('patient.procedure')
              %td
                = patient.procedure
            %tr
              %th
                = I18n.t('patient.hmo')
              %td
                = patient.hmo
            %tr
              %th
                = I18n.t('patient.contact_num')
              %td
                = patient.contact_num

        .row
          .col-md-12
            %table.table.dataTable.table-bordered.table-hover.table-striped.index-table
              %thead
                %tr
                  %th{colspan: 4} PAYMENTS
                %tr
                  %th Check No
                  %th Date Issued
                  %th Bank
                  %th Amount
              %tbody
                - patient.payments.each do |payment|
                  %tr
                    %td= payment.check_num
                    %td= payment.check_date
                    %td= payment.bank
                    %td= payment.amount
                  