.row
  .col-md-12
    .page-header
      %h1 
        Patient
        %small List

.row
  .col-md-12
    = link_to new_patient_path, class: "btn btn-primary" do
      %span.fa.fa-plus
      New Patient
.row
  .col-md-12
    %table.table.dataTable.table-bordered.table-hover.table-striped.index-table
      %thead
        %tr
          %th Name
          %th Patient No
          %th Date Admitted
          %th Attending Doctor
      %tbody
        - @patients.each do |patient|
          %tr
            %td= patient.full_name
            %td= patient.patient_num
            %td= patient.date_admitted
            %td= "WIP: DOCTOR INFO"
        
