.row
  .col-md-12
    .page-header
      %h1 
        Patient
        %small List

        = link_to new_patient_path, class: "btn btn-primary" do
          %span.fa.fa-plus
          New Patient

.row
  .col-md-12
    = render "form_filter"
.row
  .col-md-12
    %table.table.dataTable.table-bordered.table-hover.table-striped.index-table
      %thead
        %tr
          %th Name
          %th Attending Doctor
          %th Hospital
          %th Payment Status
          %th Billing Amount
          %th Balance
          %th Date Admitted
          %th Patient No
          %th Actions
          
      %tbody
        - @patients.each do |patient|
          %tr
            %td
              = link_to patient.full_name.titleize, "#patient_show_modal_#{patient.id}", 'data-toggle': 'modal', 'data-target': "#patient_show_modal_#{patient.id}", title: "Click to view Patient Details"
              = render partial: 'show_modal', locals: {patient: patient}
            %td= patient.doctor.full_name.titleize rescue nil
            %td= patient.hospital.name rescue nil
            %td= payment_status_viewer(patient.payment_status)
            %td= number_to_currency( patient.billing_amount, precision: 2, unit: "")
            %td= number_to_currency( patient.balance, precision: 2, unit: "")
            %td= patient.date_admitted
            %td= patient.patient_num
            %td
              = link_to "Edit", edit_patient_path(patient), class: "btn btn-primary btn-outline btn-sm"
              - if patient.is_check_waiting?
                = link_to "Mark Check Available", check_available_patient_path(patient), method: :put, class: "btn btn-sm btn-primary btn-outline btn-sm", data: { confirm: "Are you sure you want to mark the payment status of Patient: #{patient.full_name} as CHECK AVAILABLE?", "action-type": "Check Available" }
              - if patient.is_check_available?
                = link_to "Make Payment", make_payment_patients_path(id: patient.id), method: :get, class: "btn btn-sm btn-primary btn-outline btn-sm"



        
