- if @patient.state == "picture_uploaded"
  / .page-header
  /   %h1
  /     = I18n.t('patient.patient_upload')
  /     %small= I18n.t('details')

  /     - if (can? :edit, @patient) && (@patient.state.upcase == "PICTURE_UPLOADED" rescue false )
  /       = link_to edit_patient_path(@patient), :class => "btn btn-primary" do
  /         %span.fa.fa-plus
  /         Create Patient Record

  .panel.panel-primary
    .panel-heading
      Record Details
    .panel-body
      %table.table.table-striped.table-bordered.table-hover
        %tbody
          %tr
            %td{colspan: 2}
              - if @patient.patient_picture.present?
                = image_tag @patient.patient_picture.url, height: 350, width: 250
                %br
                = link_to download_image_patient_path(@patient), class: "btn btn-outline btn-primary btn-sm" do
                  %span
                    .fa.fa-download
                    Download
          - unless current_user.is_role?("Doctor")
            %tr
              %th
                = I18n.t('patient.doctor')
              %td
                = @patient.doctor.full_name rescue nil
          %tr
            %th
              = I18n.t('patient.procedure')
            %td
              = @patient.procedure_type.name rescue nil
          %tr
            %th
              = I18n.t('patient.surgeon')
            %td
              = @patient.surgeon.full_name.titleize rescue nil
          %tr
            %th
              = I18n.t('patient.remarks')
            %td
              = @patient.remarks

  = link_to uploaded_patients_index_patients_path(active_tab: TAB_NAMES[:uploaded_transactions]), :class => "btn btn-default" do
    %span.fa.fa-list
    = I18n.t('back')

- else
  %h1.page-header
    = I18n.t('patient.patient')
    %small= I18n.t('details')
  .panel.panel-primary
    .panel-heading
      = @patient.full_name

    .panel-body
      %table.table.table-striped.table-bordered.table-hover
        %tbody
          %tr
            %th
              = I18n.t('patient.doctor')
            %td
              = @patient.doctor.full_name rescue nil
            %th
              = I18n.t('patient.hospital')
            %td
              = @patient.hospital.name rescue nil
            %th
              = I18n.t('patient.patient_num')
            %td
              = @patient.patient_num
          %tr
            %th
              = I18n.t('patient.billing_amount')
            %td
              = @patient.billing_amount
            %th
              = I18n.t('patient.balance')
            %td
              = @patient.balance
            %th
              = I18n.t('patient.payment_status')
            %td
              = @patient.payment_status.upcase rescue nil
          %tr
            %th
              = I18n.t('patient.date_admitted')
            %td
              = @patient.date_admitted
            %th
              = I18n.t('patient.procedure')
            %td
              = @patient.procedure_type.name rescue nil
            %th
              = I18n.t('patient.procedure_date')
            %td
              = @patient.procedure_date
          %tr
            %th
              = I18n.t('patient.surgeon')
            %td
              = @patient.surgeon.full_name.titleize rescue nil
            %th
              = I18n.t('patient.payment_method')
            %td
              = @patient.payment_method_with_details
            %th
              = I18n.t('patient.contact_num')
            %td
              = @patient.contact_num
          %tr
            %th
              = I18n.t('patient.remarks')
            %td{colspan:5}
              = @patient.remarks
          %tr
            %th
              = I18n.t('patient.patient_picture')
            %td{colspan:5}
              - if @patient.patient_picture.present?
                = image_tag @patient.patient_picture.url, height: 900, width: 700
                %br
                = link_to download_image_patient_path(@patient), class: "btn btn-outline btn-primary btn-sm" do
                  %span
                    .fa.fa-download
                    Download


  - if can? :edit, @patient
    = link_to edit_patient_path(@patient), :class => "btn btn-primary" do
      %span.fa.fa-pencil
      = I18n.t('edit')

  %span
  = link_to patients_path, :class => "btn btn-default" do
    %span.fa.fa-list
    = I18n.t('back')

