.row.login-page.center
  .col-sm-12.col-xs-12.intro
    .authform
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %h2 Sign in
        .form-inputs
          = f.input :email, autofocus: true, input_html: {class: "input-lg"}
          = f.input :password, autocomplete: "off", input_html: {class: "input-lg"}
          = render "devise/shared/links"
          %br
          - if devise_mapping.rememberable?
            = f.input :remember_me, as: :boolean
        .form-actions
          = f.submit "Log in", :class => "btn btn-primary btn-lg btn-block"