!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Doctors Billing Service
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
      = render 'layouts/header'
    %main{:role => "main"}
      = render 'layouts/messages'
      .row
        .col-md-12.col-sm-12
          = render 'layouts/sub_header'
          = yield
    %footer
      = render 'layouts/footer'
